.title {
  position: absolute;
  width: 70%;
  border-bottom: 1px solid rgba(126, 126, 126, 0.8);
  top: 6rem;
  left: 15rem;
}

.title h1 {
  font-size: 2rem;
  color: var(--grey);
}
.container {
  width: 70%;
  height: auto;
  position: absolute;
  top: 10rem;
  left: 15rem;
  margin: 0 auto;
  align-items: center;
  box-shadow: 1px 1px 5px var(--grey);
  background-color: var(--white);
}

.formGroup {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-left: 1rem;
}

.formGroup label {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(14, 83, 109);
}

.formSelect {
  width: 100%;
  height: 2.5rem;
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 4px;
  color: rgb(14, 83, 109);
}

.formInput {
  width: 100%;
  height: 2.5rem;
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 4px;
  outline-color: var(--grey);
  color: rgb(14, 83, 109);
}

.button {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2.5rem;
  border: 0.5px solid var(--grey);
  margin-bottom: 0.5rem;
  border-radius: 4px;
  transition: all 0.2s;
}

.button:hover {
  background-color: var(--medium-blue);
  color: var(--white);
}

.thead {
  background: var(--medium-blue);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
}

.label {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
}


@media (max-width: 800px){

    .title{
        left:11rem
    }
    .container{
        left:11rem;
        width: 60%;
    }
    .formGroup{
        gap: 0.5rem;
        margin: 0 auto;
    }


}

@media (max-width:400px){
   

    .title{
        margin-top:11rem;
        left:0;
        color: rgb(118, 118, 118);
       
    }
    .title h1{
        font-size:1.5rem;
        margin-bottom: 0;
        
    }

    .container{
        margin-top:12rem;
        left:0;
        width: 100%;
        top: 8rem;
    }
}