* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

:root{
  --white: #fff;
  --grey:#ccc;
  --light-blue:#0e536d;
  --medium-blue:rgba(9, 91, 120, 0.8);
  --dark-blue:rgba(26, 110, 131, 0.46);
}

